.profile-header {
    text-align: center;
    margin-bottom: 40px;
}


#profile-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #ddd;
}